<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/fab5288f1a.js"></script>
</head>

<body>
    <section id="title">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <a class="navbar-brand" href="#">Sachin Cinemas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    {{!-- <li class="nav-item">
                        <a class="nav-link" href="#login">Login</a>
                    </li> --}}
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-lg-6">
                <h2>Experience like never before with Dolby Atmos </h2>
                <div class="row">

                    <div class="col-lg-6 download-btn1"><button type="button" class="btn btn-dark"><i
                                class="fab fa-apple"></i>
                            Download</button></div>
                    <div class="col-lg-6 download-btn2"><button type="button" class="btn btn-light"><i
                                class="fab fa-google-play"></i>
                            Download</button></div>

                </div>
            </div>
            <div class="col-lg-6">
                <img src="/images/mob.png" class="cinemas-img" alt="Sachin Cinemas">
            </div>
        </div>


    </section>

    <section id="about">

        <div class="row">
            <div class="col-lg-4 feature"><i class="fas fa-wifi"></i> Free Wifi</div>
            <div class="col-lg-4 feature"><i class="far fa-clock"></i> Booking 24*7</div>
            <div class="col-lg-4 feature"><i class="fas fa-volume-up"></i> Dolby Atmos Sound</div>
        </div>
    </section>

    <section id="contact">
        <span class="youtube-icon"><i class="fab fa-youtube"></i></span>
            <span class="twitter-icon"><i class="fab fa-twitter"></i></span>
                <span class="facebook-icon"><i class="fab fa-facebook-f"></i></span>
                    <span class="instagram-icon"><i class="fab fa-instagram"></i></span>


    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>